<?xml version="1.0"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" strict="false" explicit="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <connectionStrings>
    <!--'conexion wilfredo Local '-->
    <!--<add name="cn" connectionString="Data Source=WILFREDOPC\SQLEXPRESS;Initial Catalog=SGSACDB;Integrated Security=False;User Id=sa;Password=123;MultipleActiveResultSets=True"/>-->
    <!--'conexion Eder Local '-->
    <!--<add name="cn" connectionString="Data Source=PERSONAL-ENVY\SQLEXPRESS;Initial Catalog=SGSACDB;Integrated Security=False;User Id=sa;Password=casa180742;MultipleActiveResultSets=True"/>-->
    <!-- ' Conexion azure Eder' -->
    <!--<add name="cn" connectionString="Data Source=tcp:mblr9lko50.database.windows.net;Initial Catalog=SGSACDB;Integrated Security=False;User Id=admsac;Password=$Admindb01;MultipleActiveResultSets=True"/>-->
    <!-- ' Conexion mineco-local' -->
    <add name="cn" connectionString="Data Source=localhost;Initial Catalog=SGSACDB;Integrated Security=False;User Id=sa;Password=87654321;MultipleActiveResultSets=True"/>
  </connectionStrings>
</configuration>