USE [SAC_NI]
GO
/****** Object:  Table [dbo].[CAPITULOS_SAC]    Script Date: 25/03/2015 11:09:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[CAPITULOS_SAC](
	[SECCION] [varchar](5) NULL,
	[CAPITULO] [varchar](3) NOT NULL,
	[DESCRIPCION_CAP] [varchar](500) NULL,
	[ACTIVO] [varchar](2) NULL,
PRIMARY KEY CLUSTERED 
(
	[CAPITULO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SECCION_SAC]    Script Date: 25/03/2015 11:09:17 a. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[SECCION_SAC](
	[SECCION] [varchar](5) NOT NULL,
	[DESCRIPCION_SEC] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[SECCION] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[CAPITULOS_SAC]  WITH CHECK ADD  CONSTRAINT [FK_SECCION] FOREIGN KEY([SECCION])
REFERENCES [dbo].[SECCION_SAC] ([SECCION])
GO
ALTER TABLE [dbo].[CAPITULOS_SAC] CHECK CONSTRAINT [FK_SECCION]
GO
