body {
}

.modalBackground {
    background-color: Gray;
    filter: alpha(opacity=50);
    opacity: 0.7;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

ColumnaOculta {
            display: none;
        }
